# Parte 3 - Modelo 1

## Importo librerias y Data

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
train_transaction = pd.read_csv("/content/gdrive/MyDrive/org_datos/TP3 - MACHINE LEARNING/train_transaction.csv")
train_identity = pd.read_csv("/content/gdrive/MyDrive/org_datos/TP3 - MACHINE LEARNING/train_identity.csv")

In [ ]:
train_identity.head()

   TransactionID  id_01  ...  DeviceType                     DeviceInfo
0        2987004    0.0  ...      mobile  SAMSUNG SM-G892A Build/NRD90M
1        2987008   -5.0  ...      mobile                     iOS Device
2        2987010   -5.0  ...     desktop                        Windows
3        2987011   -5.0  ...     desktop                            NaN
4        2987016    0.0  ...     desktop                          MacOS

[5 rows x 41 columns]

In [ ]:
df_train = train_transaction.merge(train_identity, left_on="TransactionID", right_on="TransactionID", how="outer")
train_transaction = None
train_identity = None

## Separo Train y Validation

In [ ]:
quantile_70 = df_train.TransactionDT.quantile(.7)

In [ ]:
X_train= df_train.loc[df_train['TransactionDT'] < quantile_70]

In [ ]:
Y_train = X_train["isFraud"]

In [ ]:
X_train['TransactionDT'] = X_train['TransactionDT']/60

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
X_validation = df_train.loc[df_train['TransactionDT'] > quantile_70]

In [ ]:
Y_validation = X_validation["isFraud"]

In [ ]:
X_validation['TransactionDT'] = X_validation['TransactionDT']/60

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
quantile_70 = None
df_train = None

In [ ]:
X_train.head()

   TransactionID  isFraud  ...  DeviceType                     DeviceInfo
0        2987000        0  ...         NaN                            NaN
1        2987001        0  ...         NaN                            NaN
2        2987002        0  ...         NaN                            NaN
3        2987003        0  ...         NaN                            NaN
4        2987004        0  ...      mobile  SAMSUNG SM-G892A Build/NRD90M

[5 rows x 434 columns]

In [ ]:
features_importantes = ["ProductCD","TransactionAmt","TransactionID","isFraud","TransactionDT",'V233','V232','V231','V177','V219','V217','V218','V147','V179','DeviceInfo','V239','id_03','V273','V167','V185',
 'V275','V237','V236','V142','id_09',"DeviceType","id_31","id_33",'P_emaildomain','R_emaildomain',"card1","card2","card3","card4","card5","card6","addr1",
 "addr2","dist1","dist2",'M1','M2','M3','M4','M5','M6','M7','M8','M9',"id_30","id_35",	"id_36",	"id_37",	"id_38","id_29","id_12",
 "D1","D2","D3","D4","D5","D6","D7","D8","D9","D10","D11","D12","D13","D14","D15"]

In [ ]:
low_card = ['ProductCD','card4','card6','M1','M2','M3','M4','M5','M6','M7','M8','M9','id_12','id_15','id_16','id_23','id_27','id_28','id_29','id_34','id_35','id_36','id_37','id_38'
,'DeviceType']

In [ ]:
high_card = ['P_emaildomain','R_emaildomain','id_30','id_33','DeviceInfo']

In [ ]:
X_trainV2 = X_train[features_importantes]

In [ ]:
X_trainV2.select_dtypes(include = ["object"])

       ProductCD                     DeviceInfo  ...     id_29     id_12
0              W                            NaN  ...       NaN       NaN
1              W                            NaN  ...       NaN       NaN
2              W                            NaN  ...       NaN       NaN
3              W                            NaN  ...       NaN       NaN
4              H  SAMSUNG SM-G892A Build/NRD90M  ...  NotFound  NotFound
...          ...                            ...  ...       ...       ...
413373         W                            NaN  ...       NaN       NaN
413374         W                            NaN  ...       NaN       NaN
413375         W                            NaN  ...       NaN       NaN
413376         W                            NaN  ...       NaN       NaN
413377         W                            NaN  ...       NaN       NaN

[413378 rows x 25 columns]

In [ ]:
X_trainV2[["id_12"]].value_counts()

id_12
NotFound    95365
Found       14546
dtype: int64

In [ ]:
low_card2 = ["ProductCD","DeviceType","card4","card6",'M1','M2','M3','M4','M5','M6','M7','M8','M9',"id_35","id_36","id_37","id_38","id_12","id_29"]

In [ ]:
high_card2 = ["id_31","DeviceInfo",'P_emaildomain','R_emaildomain',"P_emaildomain","id_30"]

In [ ]:
len(low_card2+high_card2)

25

In [ ]:
X_trainV2.DeviceInfo.replace(np.nan,"unknown",inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
vectorizer = CountVectorizer(max_features=10)
X = vectorizer.fit_transform(X_trainV2.DeviceInfo)

In [ ]:
len(features_importantes)

71

## Train

In [ ]:
dum_train = pd.get_dummies(X_train[low_card])

In [ ]:
X_train = pd.concat([X_train,dum_train],axis=1)
dum_train = None

In [ ]:
X_train.id_31.replace(np.nan,"unknown",inplace=True)

In [ ]:
vectorizer = CountVectorizer(max_features=25)
X = vectorizer.fit_transform(X_train.id_31)

In [ ]:
X_train[vectorizer.get_feature_names_out()] = X.toarray()

In [ ]:
for i in high_card:
  Mean_encoded_subject = X_train.groupby([i])['isFraud'].mean().to_dict()
  X_train[i] =  X_train[i].map(Mean_encoded_subject)

In [ ]:
X_train.drop(["isFraud","id_31"], axis=1, inplace=True)
X_train.drop(low_card, axis=1, inplace=True)
X_train.drop(['10', '11', '15', '16', '49', '57', '58', '61', '62', '63', '64','65'], axis=1, inplace=True)

In [ ]:
X_train.replace(np.nan,0,inplace=True)

In [ ]:
clf_xgb = xgb.XGBClassifier(objective ='binary:logistic')

In [ ]:
param_dist = {'max_depth': [3, 4],'learning_rate': [0.1,0.2]}

In [ ]:
clf = RandomizedSearchCV(clf_xgb,param_distributions = param_dist, n_iter=1, cv=2, random_state=1,scoring='roc_auc',n_jobs=1)

In [ ]:
clf.fit(X_train,Y_train)

In [ ]:
X_train.head(3)

   TransactionID  TransactionDT  TransactionAmt  ...  safari  samsung  unknown
0        2987000    1440.000000            68.5  ...       0        0        1
1        2987001    1440.016667            29.0  ...       0        0        1
2        2987002    1441.150000            59.0  ...       0        0        1

[3 rows x 482 columns]

## Validation

In [ ]:
dum_val = pd.get_dummies(X_validation[low_card])

In [ ]:
X_validation = pd.concat([X_validation,dum_val],axis=1)
dum_val = None

In [ ]:
X_validation.id_31.replace(np.nan,"unknown",inplace=True)

In [ ]:
vectorizer = CountVectorizer(max_features=25)
X = vectorizer.fit_transform(X_validation.id_31)

In [ ]:
X_validation[vectorizer.get_feature_names_out()] = X.toarray()

In [ ]:
for i in high_card:
  X_validation[i] =  X_validation[i].map(Mean_encoded_subject)

In [ ]:
X_validation[["card6_charge card","id_34_match_status:-1"]] = 0

In [ ]:
X_validation.drop(["52","59","60","66","ios","isFraud","id_31"], axis=1, inplace=True)
X_validation.drop(low_card, axis=1, inplace=True)
X_validation.drop(['10', '11', '16', '49', '63', '64','65'], axis=1, inplace=True)

In [ ]:
X_validation = X_validation[list(X_train.columns.values)]

In [ ]:
X_validation.replace(np.nan,0,inplace=True)

In [ ]:
# con Random
roc_auc_score(Y_validation,clf.predict_proba(X_validation)[:,1])

0.882516717650185

In [ ]:
X_validation.head(3)

        TransactionID  TransactionDT  TransactionAmt  ...  safari  samsung  unknown
413378        3400378  173966.716667            49.0  ...       0        0        1
413379        3400379  173966.950000          1265.5  ...       0        0        1
413380        3400380  173967.383333            50.0  ...       1        0        0

[3 rows x 482 columns]

# Saco Columnas

In [ ]:
X_train.head()

   TransactionID  TransactionDT  TransactionAmt  ...  safari  samsung  unknown
0        2987000    1440.000000            68.5  ...       0        0        1
1        2987001    1440.016667            29.0  ...       0        0        1
2        2987002    1441.150000            59.0  ...       0        0        1
3        2987003    1441.650000            50.0  ...       0        0        1
4        2987004    1441.766667            50.0  ...       0        1        0

[5 rows x 494 columns]

In [ ]:
X_validation.P_emaildomain.unique()

array([0.])